* {
  padding: 0;
  margin: 0;
  --background-color: #09091fec;
  /* --background-color:#25243a; */
  --color-main: #f95738;
  --color-font: snow;
  --whith-size-large: 80%;
  --whith-size-phone: 90%;
  --font-wei: 200;
}

body {
  background-color: var(--background-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-font);
}

/* 
@media (max-width:;) {
    
}

@media (max-width:;) {
    
}

@media (max-width:768px;) {
    
} */
.pirant {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.page1 {
  width: var(--whith-size-large);
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page1-top {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page1-top p {
  font-size: 2em;
  font-weight: var(--font-wei);
}
.links a {
  text-decoration: none;
  color: var(--color-font);
  margin: 0 6px;
}
.page1-content {
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.page1-content-titel {
  font-size: 2em;
  font-weight: var(--font-wei);
}
.page1-content-titel h1 {
  font-size: 3em;
  font-weight: var(--font-wei);
}

.page1-content .page1-text {
  margin-top: 30px;
  line-height: 1.5;
  max-width: 600px;
  text-align: start;
  padding-right: 150px;
}

.page1-content input {
  margin-top: 30px;
  padding: 20px 7%;
  width: fit-content;
  color: var(--color-font);
  background-color: var(--color-main);
  border: none;
  box-shadow: 1px 1px 10px rgb(177, 177, 177);
}

.page1-content input:hover {
  box-shadow: inset 1px 1px 10px rgb(0, 0, 0);
}

.local {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  right: 5%;
}
.sircl {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-font);
  box-shadow: inset 1px 1px 5px var(--color-main),
    1px 1px 20px var(--color-main);
}

.sircl1 {
  background-color: var(--color-main);
}

.colume {
  width: 2px;
  height: 100px;
  background-color: var(--color-font);
}

@media (max-width: 768px) {
  .page1 {
    width: var(--whith-size-phone);
  }
  .local {
    flex-direction: row;
    position: relative;
    top: -80px;
    right: 0;
    width: 100%;
    margin: 0 auto;
  }
  .sircl {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 5px var(--color-main),
      1px 1px 20px var(--color-main);
  }

  .colume {
    width: 50px;
    height: 2px;
  }

  .page1-content .page1-text {
    padding-right: 0px;
  }

  .links {
    visibility: hidden;
  }
  .page1-top .links-var {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
  }

  .links-var div {
    background-color: var(--color-main);
    width: 30px;
    height: 2px;
    margin: 2px 0;
  }
}

/*  end page 1 */

/* start page 2 */

.page2 {
  width: var(--whith-size-large);
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.page2 h2 {
  font-size: 4em;
  font-weight: var(--font-wei);
  color: var(--color-main);
  margin-bottom: 30px;
}
.page2 h2 span {
  border-bottom: 3px solid var(--color-main);
}

.page2 img {
  width: 50px;
  height: 80px;
}
/* .page2-content{
    width: 100%;
    /* height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}  */
.page2-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 100px;
}

.page2-content .box {
  width: 310px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  margin: 20px;
  background-color: #2d2c42;
  padding: 0 17px;
  line-height: 1.3;
}

.page2-content .box {
  box-shadow: 1px 1px 10px black;
}

.page2-content .box h3 {
  padding: 11px 0;
  font-size: 1.5em;
}

.local2 {
  flex-direction: column;
  position: absolute;
  top: 30%;
  right: -5%;
  width: 0;
  margin: 0;
}
.sircl2 {
  background-color: var(--color-main);
}

@media (max-width: 768px) {
  .page2 {
    width: var(--whith-size-phone);
  }
  .local2 {
    flex-direction: row;
    position: relative;
    top: 60px;
    right: 0;
    width: 100%;
    margin: 0 auto;
  }
}

/* end page 2 */

/* start page 3 */

.page3 {
  width: var(--whith-size-large);
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page3 h2 {
  color: var(--color-main);
}
